@import 'partials/setup.scss';
@import 'partials/variables';
@import 'partials/openingSearch';
@import 'partials/aside';
@import 'partials/relatedArtistDisplay';

// GENERAL STYLING 
body {
	background: $pink;
	width: 100vw;
	font-family: $font2;
}
img {
	width: 100%;
	max-width: 100%;
	height: 100%;
	border-radius: 50%; 
	margin: 0 auto;
	opacity: 0.8;
	object-fit: cover;
}
h1, h2 {
	text-align: center;
	color: $dark;
	// text-shadow: 3px 3px 3px rgba(80,80,80,0.5);		
	margin: 5% 0;
}
h1{
	font-family: $font1;
	margin: 0;
	&:after{
		content: "Revolve around your favourite artists!";
		font-family: $font2;
		font-size: 14px;
		display: block;
	}
}

h2 {
	letter-spacing: 1px;
}

// general artist grid item
.grid-item{
	background: $pink1;
	margin: 0 auto;
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 50px;
	box-shadow: 5px 7px 7px rgba(80,80,80,0.5);
}

//iframe for tracks
.tracks {
	width: 100%;
	opacity: 0.85;
}

// container that holds everything
main {
	height: 100vh;
	display: flex;	
	justify-content: flex-end;
	&.hidden {
		opacity: 0;
	}
}


// fade in/ out transitions 
#related-artists, #main-artist {
	opacity: 1;
	transition: opacity 0.5s ease-in;
	&.hidden {
   		opacity: 0;
   		transition: opacity 0.6s ease-out;
	}
}


	