// fixed sidebar w/ header, form, & main artist 
aside {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 20%;
	position: relative;
	min-width: 300px;
	&.searched { // NEED FIXING AFTER
		&:after {
			content: "";
			top: 5vh;
			right: -10px;
			border-right: 2px solid $white;
			height: 90vh;
			position: absolute;
		}
	}	
}
header {
	position: relative;
	top: 5%;
	padding-bottom: 4%;
	margin: 0;
	img {
		display: none;
	}
}

form {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 20% auto 0;
	border: 5px solid $white;
	padding: 5%;
	background: $pink0;
	h2 {
		margin: 0 0 5%;
	}
	input[type='text'] {
		width: 100%;
		border: none;
		border-radius: 5px;
		padding: 5%;
		background: rgba(255,255,255,0.9);
		box-shadow: 3px 3px 5px rgba(80,80,80,0.5);
		&:focus {
			background: $white;

			outline: 1px solid black;
		}
	}
	input[type='submit'] {
		border: none;
		background: rgba(80,80,80,0.9);
		width: 50%;
		align-self: center;
		margin: 0 auto;
		padding: 3%;
		border-radius: 5px;
		color: $white;
		margin-top: 5%;
		transition: all 0.3s;
		&:hover {
			background: $dark;
		}
	}
}

#main-artist {
	h2 {
		padding: 5% 1%;
		font-size: 25px;
	}
	.grid-item {
		width: 90%;
		background: $pink2;
		margin-top: 10%;
		margin-bottom: 0;
	}

	.img {
		width: 12vw;
		height: 12vw;
		margin: 0 auto;
		margin-bottom: 20px;

	}
}